body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

header{
    display: flex;
    justify-content: center;
}

#nav-bar{
    border: 1px solid black;
    display: flex;
    flex-basis: 75%;
}

#nav-title{
    font-weight: bold;
    justify-items: flex-start;
    padding: 4px;
    margin: 4px;
    margin-right: auto;
}

#nav-links{
    padding: 4px;
    margin: 4px;
    margin-left: auto;
}

#nav-links > a, #nav-title > a{
    text-decoration: none;
}

#nav-links > a{
    margin: 12px;
}

#hero{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

#hero > #hero-section{
    display: flex;
    flex-direction: row;
    flex-basis: 75%;
    border: 1px solid black;
}

#hero-section > #hero-cta{
    flex-direction: column;
    flex-basis: 50%;
    display: flex;
    justify-content: center;
}

#hero-cta > div{
    margin: 8px;
}

#hero-cta > #cta-main{
    font-size: 2.5rem;
    font-weight: bold;
}

#hero-cta > #cta-button > button{
    padding: 9px;
    font-weight: bold;
    border-radius: 0.45rem;
}

#hero-section > #hero-image{
    margin: 4px;
    flex-basis: 50%;
    display: flex;
    justify-content: center;
}

#hero-image > img{
    border-radius: 0.75rem;
}


